.header {
    grid-area: h;
    background-color: black;
    border-bottom: 1px solid black;
}

.header img {
    width: 60px;
    margin-left: 550px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color:white;
    text-decoration: none;
}