.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    margin: 3px;
}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 30px;
}

.message:nth-child(even) {
    text-align: right;
}

.messages .message {
    color: white;
}

.messages .message:not(:first-child) {
    margin: 34px 0;
}

.senderAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.dialogs a {
    margin: 10px;
    padding: 5px;
}